/* Watermarks 
*/
.input-watermarked {
  color: #CCCCCC;
  font-style: italic;
  line-height: 0px;
}

/* fun stuff */
.penis {
  text-decoration: line-through;
}

.full_height{
  margin:0 0 0 0  ! important;;
  padding-bottom: 2px ! important;
  border: 1px solid black ! important;
}


