/* Watermarks 
*/
.input-watermarked {
  color: #CCCCCC;
  font-style: italic;
  line-height: 0px;
}

/* fun stuff */
.penis {
  text-decoration: line-through;
}

.full_height{
  margin:0 0 0 0  ! important;;
  padding-bottom: 0px ! important;
  border: 1px solid black ! important;
  height: 21px;
}

a.nickers_button{
  clear:both;
  display:block;
  width:72px;
  height:28px;
  position:relative;
  top: 1px;
  background-position:-1px 0px; 
  background-repeat: no-repeat
}

.nickers_button:hover,a.yes_button.selected,a.no_button.selected {
  background-position: 0px -30px;
  cursor: hand; 
}
a.login_button{
  background-image: url('../images/buttons/submit_buttons.gif');
}
a.submit_button{
  background-image: url('../images/buttons/submit_buttons.gif');
}
a.yes_no_button {
  height: 31px;
}
a.yes_button{
  background-image: url('../images/buttons/yes.gif');
}


a.no_button{
  background-image: url('../images/buttons/no.gif');
}


a.next_button{
  position: relative;
  left: 70px;
  top: -27px;
  width: 91px;
  background-image: url('../images/buttons/view_next_butt.gif');
}    


/* invite page stuff */
div.image_frame {
  width: 355px;
  height: 390px;
  background-image: url('../images/frame_pics.gif');
  margin-left: -12px;
}
div.image_frame img {
  margin: 22px;
  width: 311px;
  height: 345px;
}
div.youtube_frame{
  padding-left: 22px;
  background-image: url('../images/frame_youtube.gif');
  background-position: 22px 0px; 
  background-repeat: no-repeat
}

div.youtube_frame embed {
 
}
div.youtube_div{
  height: 310px;
  padding-top: 50px;
  padding-left: 50px;
}
div.middle {
  background-image: url('../images/tilable_grid_horizontal.gif');
  height: 411px;
  padding-top: 31px;
  
}

div.inappropriate_text{
  border: 1px solid black;
  width: 404px;
  height: 140px;
  margin-bottom: 5px;
  padding: 5px;
}
div.inappropriate_box{
 
  padding-left: 22px;
}
div.rsvp{
  margin-left: -12px;
  height: 181px;
  background-image:  url('../images/RSVP_tag.gif');
  background-position: 2px 0px; 
  background-repeat: no-repeat
}
div.rsvp div{
  padding-left: 40px;
  padding-top: 10px;
}
input.span-6{
  width: 233px ! important;
}
div.enter_text{
  width: 245px ! important;
  padding-top: 1px;
  margin-right:0px ! important
}

div.no_margin{
  margin: 0px 0px;
}


