/* Watermarks 
*/
.input-watermarked {
  color: #CCCCCC;
  font-style: italic;
  font-size:1.5em;
  line-height: 0px;
  float: none ! important;
  
}

/* fun stuff */
.penis {
  text-decoration: line-through;
}

.full_height{
  margin:0 0 0 0  ! important;;
  padding-bottom: 2px ! important;
  border: solid 1px black;
}


